#iris datset for datascience

#importing libraries

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#load iris dataset

In [9]:
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
df.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

In [13]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [14]:
df.drop_duplicates()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

In [15]:
df[1:]

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

In [16]:
df.iloc[0, 0]
df.iat[0, 0]

5.1

In [17]:
df.sum()

sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [18]:
df.cumsum()

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa
1,10.0,6.5,2.8,0.4,setosasetosa
2,14.7,9.7,4.1,0.6,setosasetosasetosa
3,19.3,12.8,5.6,0.8,setosasetosasetosasetosa
4,24.3,16.4,7.0,1.0,setosasetosasetosasetosasetosa
...,...,...,...,...,...
145,851.6,446.7,543.0,171.9,setosasetosasetosasetosasetosasetosasetosaseto...
146,857.9,449.2,548.0,173.8,setosasetosasetosasetosasetosasetosasetosaseto...
147,864.4,452.2,553.2,175.8,setosasetosasetosasetosasetosasetosasetosaseto...
148,870.6,455.6,558.6,178.1,setosasetosasetosasetosasetosasetosasetosaseto...
149,876.5,458.6,563.7,179.9,setosasetosasetosasetosasetosasetosasetosaseto...

In [19]:
numeric_df = df.select_dtypes(include='number')
numeric_df.min()/numeric_df.max()

sepal_length    0.544304
sepal_width     0.454545
petal_length    0.144928
petal_width     0.040000
dtype: float64

In [20]:
df.idxmin()/df.idxmax()

sepal_length    0.099237
sepal_width     4.000000
petal_length    0.186441
petal_width     0.090000
species         0.000000
dtype: float64

In [24]:
sns.pairplot( hue='species', diag_kind='kde', palette='Set2', markers=['o', 's', 'D'])
plt.show()

TypeError: pairplot() missing 1 required positional argument: 'data'

In [3]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=iris, x='species', y='sepal_length')
plt.show()

NameError: name 'plt' is not defined

In [4]:
plt.figure(figsize=(8, 6))
sns.scatterplot(data=iris, x='sepal_length', y='petal_length', hue='species')
plt.show()

NameError: name 'plt' is not defined

In [25]:
# Calculate the correlation matrix
corr = iris.corr()

# Create a heatmap
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f', cbar=True)
plt.title("Correlation Heatmap")
plt.show()

NameError: name 'iris' is not defined

In [7]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
iris.iloc[:, :-1] = imputer.fit_transform(iris.iloc[:, :-1])

NameError: name 'iris' is not defined

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
iris['species'] = le.fit_transform(iris['species'])

NameError: name 'iris' is not defined

In [27]:
# Calculate the correlation matrix
corr = iris.corr()

# Create a heatmap
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f', cbar=True)
plt.title("Correlation Heatmap")
plt.show()

NameError: name 'iris' is not defined